.landing-page{
        padding: 48px 32px;
}
.landing-page-title{
        font-size: 24px;
            font-family: cursive;
            font-weight: 600;
            color: #8f6024;
}
.product-view{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}